body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

/*-----------------------------------HEADER------------------------------------*/
.header{
    position: fixed;
    display: flex;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    width: 100%;
    background-color: rgb(125, 110, 131);
    padding: 0.5rem;
}
.header .logo {
    color: white;
    margin:0;
    padding: 0;
    line-height: 0;
}
.header .nav-desktop {
    display: flex;
    align-items: center;
    margin-right: 0.938rem;
}
.header .nav-desktop a{
    color: white;
    line-height: 2.813rem;
    padding-left: 0.938rem;
    padding-right: 0.938rem;
    font-size: 1.25rem;
    text-align: center;
    text-decoration: none;
}
.hamburger span{
    background-color: white;
    display: block;
    height: 3px;
    width: 25px;
}
.hamburger span:not(:last-child){
    margin-bottom: 6px;
}
.hamburger {
    display: none;
}
    @media (max-width:900px) {
        .nav-desktop a{
            border: solid red;
            display: none;
        }
        .hamburger {
            position: fixed;
            display: block;
            right: 15px;
        }
    }
    

/*-------------------------------------END-------------------------------------*/
/*-----------------------------------HOME--------------------------------------*/
section{
    padding: 3rem;
    overflow: hidden;
    margin: 0;
}
.home{
    display: flex;
    height: 100vh;
    background-color: rgb(248, 237, 227);
    align-items: center;
    justify-content: center;
    padding: .5px;
}
.image-logo-bg {
    background-image: url(/asset/logo-background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 35rem;
    height: 20rem;
    border-right: solid 5px black;
    transform: translateX(20%);
    transition: transform .5s ease-in-out;
}
.load {
    transform: translateX(0%);
}
.slogan{
    width: 30%;
    padding-left: 20px;
    overflow: hidden;
}
.slogan h2{
    font-size: 3.7em;
    line-height: 1.5em;
    transform: translateX(-110%);
    transition: transform 3.0s ease-in-out;
}
.show-text h2{
    transform: translateX(0%);
}
    @media (max-width:1200px) {
        .home{
            flex-direction: column;
        }
        .image-logo-bg {
            padding-bottom: 50px;
            border-right:none;
            border-bottom:solid black ;
            background-size: 80%;
            height: 30%;
            background-position: center;
        }
        .slogan{
            min-width: 600px;
        }
        .slogan h2{
            font-size: 3.4em;
            line-height: 1.5em;
            text-align: center;
        }
        .slogan h2{
            font-size: 3.4em;
            line-height: 1.5em;
            transform: translateY(-120%);
            transition: transform 3.0s ease-in-out;
        }
        .show-text h2{
            transform: translateY(0%);
        }
        .image-logo-bg {
            transform: translate(0%);
            transform: translateY(-20%);
            transition: transform .5s ease-in-out;
        }
        .load {
            transform: translateY(0%);
        }
    }
    @media (max-width:900px) {
        .home{
            flex-direction: column;
        }
        .image-logo-bg {
            padding-bottom: 50px;
            border-right:none;
            border-bottom:solid black ;
            background-size: 80%;
            height: 30%;
            width: 80%;
            background-position: center;
        }
        .slogan{
            min-width: 300px;
        }
        .slogan h2{
            text-align: center;
            font-size: 2.0em;
            line-height: 1.5em;
            transform: translateY(-120%);
            transition: transform 3.0s ease-in-out;
        }
        .show-text h2{
            transform: translateY(0%);
        }
        .image-logo-bg {
            transform: translate(0%);
            transform: translateY(-20%);
            transition: transform .5s ease-in-out;
        }
        .load {
            transform: translateY(0%);
        }
    }
/*------------------------------------END--------------------------------------*/
/*-----------------------------------ABOUT-------------------------------------*/
.about{
    display: flex;
    flex-direction: column;
    gap: 1;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 211, 195);
}
.about-head {
    font-size: 30px;
    line-height: 5px;
    text-align: center;
}
.about-content {
    font-size: 20px;
    max-width: 60rem;
    text-align: center;
}
.about-team-head{
    font-size: 30px;
    font-weight: 400;
}
.about-team-content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.thumbnail{
    border-radius: 15px;
    background-color: white;
    height: 250px;
    width: 200px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.626);
}
.profile{
    border: solid 1px black;
    border-radius: 15px;
    background-image: url(/asset/team-1.jpg);
    margin: auto;
    margin-top: 15px;
    height: 170px;
    width: 170px;
}
.details{
    text-align: center;
}
    @media (max-width:900px) {
        
    }
/*------------------------------------END--------------------------------------*/
/*----------------------------------OFFERS-----------------------------------*/
.offers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    background-color: rgb(248, 237, 227);
}
.offers-head{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}
.offers-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.menu{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: rgb(208, 184, 168);
    width: 320px;
    transition: transform .3s ease-in-out;
}
    .menu:hover{
        transform: scale(1.05);
    }
.item-tag{
    text-align: center;
}
.menu-cards{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    transition: all .3s ease-in-out;
}
    .menu-cards:hover{
        transform: scale(1.01);
        color: white;
        background-color: rgb(85, 59, 95);
    }
.menu-cards h3{
    line-height: 5px;
}
.menu-cards p{
    line-height: 15px;
}
.item-name{
    width: 400px;
}
.item-price h1{
    text-align: end;
    line-height: 50px;
}
    @media (max-width:900px) {
        .menu{
            width: 300px;
        }   
    }
/*------------------------------------END--------------------------------------*/
/*----------------------------------CONTACT------------------------------------*/
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(223, 211, 195);
}
.grid-template {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
}
.form-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.contact-title{
    margin-inline: auto;
    margin-bottom: 20px;
}
.grid-col{
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.581);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.626);
}
.col-2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    padding: 10px;
}
.col-2 img{
    width: 50px;
    height: 50px;
    padding: 5px;
}
.contact-button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
}
.contact-number{
    display: flex;
    justify-content: center;
}
.contact-number h2{
    line-height: 1;
}
.wrapper-grid{
    background-color:rgba(255, 255, 255, 0.504);
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.626);
    padding: 20px;
}
.wrapper-grid h1{
    text-align: center;
}
.form-card textarea {
    min-width: 300px;
    max-width: 500px;
    min-height: 100px;
    max-height: 100px;
}
.submit-btn{
    margin: auto;
    margin-top: 20px;
    width: 100px;
    height: 30px;
    font-weight: bold;
}
.next img{
    height: 25px;
    width: 25px;
    
}
.next {
    animation-name: animate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
    @media (max-width:900px) {
        .grid-template {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr, 1fr;
        }
    }



/*------------------------------------END--------------------------------------*/
/*---------------------------------KEYFRAMES-----------------------------------*/

@keyframes animate {
    0%   {transform: translateX(0%);}
    50%  {transform: translateX(20%);}
    100% {transform: translateX(0%);}
}/*------------------------------------END--------------------------------------*/